<div class="heading text-center bg-info p-3 mb-4">
  <h1>World Countries Data</h1>
  <p>Currently we have 250 countries</p>
</div>
<section class="country-data">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-8 offset-sm-2">
          <div class="searchBox">
            <input type="search" name="" placeholder="Search Contries by name, city and languages" id="" class="form-control">
          </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-8 offset-sm-2">
        <!-- <ul class="options">
          <li><a href="javascript:;" class="btn btn-success mx-3 px-5">NAME</a></li>
          <li><a href="javascript:;" class="btn btn-success mx-3 px-5">CAPITAL</a></li>
          <li><a href="javascript:;" class="btn btn-success mx-3 px-5">POPULATION</a></li>
        </ul> -->
        <app-button></app-button>
        <app-button></app-button>
        <app-button></app-button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let country of countriesArray">
        <app-country-data [country]="country" ></app-country-data>
      </div>
    </div>
  </div>
</section>